
body {
    font-family: Ariana, sans-serif; 
    background-color: #fff2fd;
    margin: 0; 
    padding: 0;
    color: #333;
}


.container {
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
}

.top-bar {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #85d1fa;
    color: white; 
    padding: 15px 20px;
    border-radius: 8px; 
    margin-bottom: 20px; 
}

.top-bar h1 {
    margin: 0;
    font-size: 24px;
}

#location-input {
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
    width: 180px; 
}

#location-submit {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ffdbfd;
    color: #415a67;
}

.hourly-weather{
    background-color: #f6d7ef; 
    padding: 20px;
    border-radius: 8px;
}
.hourly-weather h3 {
    margin-top: 0;
}

.weather-out-current {
    background-color: #ffdbfd; 
    padding: 20px;
    border-radius: 8px;
    text-align: center; 
    margin-bottom: 20px;
}

.weather-out-current img {
    width: 100px;
    height: auto;
}


.weather-out-future {
    background-color: #f6d7ef; 
    padding: 20px;
    border-radius: 8px;
}


.weather-out-future h3 {
    margin-top: 0;
}


#hourly-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
    list-style: none; 
    padding: 0;
    margin-top: 15px;
}


#hourly-list li {
    background-color: #e0f2f1; 
    border-radius: 6px; 
    padding: 10px; 
    width: 100px;
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: transform 0.2s, box-shadow 0.2s; 
}


#hourly-list li strong {
    color: #0288d1; 
    font-size: 16px;
}


#hourly-list li p {
    margin: 5px 0;
    font-size: 14px;
}

.future-days-container,
#items-list {
    display: flex; 
    flex-wrap: wrap; 
    gap: 15px; 
    list-style: none;
    padding: 0;
}

#items-list li {
    background-color: #85d1fa; 
    padding: 10px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#items-list img {
    width: 60px;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


#meteogram-container {
    margin-top: 20px;
    text-align: center;
}

#meteogram {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
@media (max-width: 1024px) {
    #items-list li, #hourly-list li {
        flex: 1 1 calc(25% - 15px);
    }
}

@media (max-width: 800pxx) {
    #items-list li, #hourly-list li {
        flex: 1 1 calc(33.3% - 15px); 
    }
}

@media (max-width: 480px) {
    #items-list li, #hourly-list li {
        flex: 1 1 calc(33.3% - 15px);
    }
}